<!DOCTYPE html>
{% load static %}
<html>
  
  <head> 
    <title>Allosteric site prediction</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="/static/bootstrap/css/bootstrap.min.css" >
    <link href="/static/bootstrap/css/jumbotron-narrow.css" media="screen" rel="stylesheet">
  </head>
  
  <body>
    
    <div class="container">
      <div class="header">
        <h3>Predicting allosteric sites</h3>
      </div>    

      <div class="jumbotron myBackground">
	<div class="row">
	  <h1>{% block header_text %}{% endblock %}</h1>
	  <br>
	  <p id="header_lead" class="lead">{% block header_sub_text %} {% endblock %}</p>
	  <br>
	  {% block form %} 
	  {% endblock %}
	</div>      
	
	<div class="row">
	  {% block table %} 
	  {% endblock %}
	</div>
	
	<div class="row">
	  {% block results %}
	  {% endblock %}
	</div>
      </div>
    </div>
  </body>
</html>
