<!DOCTYPE html>
{% load staticfiles %}
<html>
  
  <head> 
    <title>Allosteric site prediction</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="/static/bootstrap/css/bootstrap.min.css" >
    <link href="static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/css/base.css" media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/jsmol/JSmol.min.js"></script>
    <script src="static/jsmol/js/JSmolThree.js"></script>
    <script src="static/jsmol/js/JSmolGLmol.js"></script>
  </head>
  
  <body>
    
    <div class="container">
      <div class="header">
        <h3>Predicting allosteric sites</h3>
      </div>    

      <div class="jumbotron" id="id_main_area">
	<div class="row">
	  <h1>{% block header_text %}{% endblock %}</h1>
	  <br>
	  <p id="header_lead" class="lead">{% block header_sub_text %} {% endblock %}</p>
	  <br>

	  {% block protein_view %}
	  {% endblock %}
 
	  {% block form %} 
	  {% endblock %}

	</div>      

	<div class="row">
	  {% block table %} 
	  {% endblock %}
	</div>

	<div class="row">
	  {% block results %}
	  {% endblock %}
	</div>
      </div>
    </div>
  </body>
</html>
