{% extends 'base.html' %}

{% block header_text %} Protein Set-up: {{ pdb_id }} {% endblock %}

{% block header_sub_text %}
Select the chains you would like to include in the analysis 
{% endblock %}

{% block table %}

<form role="form" method="POST" action="">
  <table class="table" id="id_chain_table">
    <tr><th>Molecule name</th><th>Chain</th><th>Selected</th></tr>
      {% for item in chain_map %}
        <tr><td>{{ forloop.counter }}: {{ item.0 }}</td><td>{{ item.1 }}</td>
            <td><input type="checkbox" id="chain_checkbox_{{forloop.counter}}" name="chains" value="{{item.1}}"></td></tr>
      {% endfor %}
  </table>
  
  {% csrf_token %}
  <input type="submit" class="btn btn-large btn-primary" id="continue_button" value="Continue">
</form>
  
{% endblock %}
