{% extends 'base.html' %}
{% block header_text %} Start a new protein analysis {% endblock %}

{% block header_sub_text%}
To begin the analysis, enter the 4-digit PDB ID of the structure you would like to analyse
{% endblock %}

{% block form %}
    <form method="POST" action="">
      <input name="pdb_id" id="id_pdb_id" 
	     placeholder="Enter PDB ID here"
	     class="form-control input-lg"/>
      <br>
      <div class="checkbox">
	<input type="checkbox" id="bio_checkbox" name="bio" value=1> Bio
      </div>
      <p>Type of analysis: 
	<input type="radio" name="analysis_type" value="edgeedge"> Edge-edge
	<input type="radio" name="analysis_type" value="transients"> Transients<br>
      </p>
      {% csrf_token %}
    </form>
 {% endblock %}
