{% extends 'base.html' %}

{% block header_text %} Protein Set-up: {{ pdb_id }} {% endblock %}

{% block header_sub_text %}
Select the residues you would like to use as the source in the analysis 
{% endblock %}

{% block table %}

<form role="form" method="POST" action="">
  <table class="table" id="id_source_table">
    
  </table>
  <h3>Included HETATMs:</h3>
  {% for item in included_hetatms %}
  <p>{{ item }}</p>
  {% endfor %}
  <h3>Removed HETATMs:</h3>
  {% for item in removed_hetatms %}
  <p>{{ item }}</p>
  {% endfor %}

  {% csrf_token %}
  <input type="submit" class="btn btn-large btn-primary" id="continue_button" value="Continue">
</form>
  
{% endblock %}
